/* html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
} */
.about {
  background-image: url("./Images/bck.jpg");

  height: 200px;
  width: 200px;
}

.card {
  background-color: #ac9ce3 !important;
  color: cornsilk;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.App {
  background-color: beige;
}
.navbar-expand-lg {
  background-color: chocolate !important;
  font-family: cursive;
}
.bg-light {
  background-color: chocolate !important;
  font-family: cursive;
}
